<div class="row">
    <span class="col-md-12 stat-label-header">{{name}} Durations</span>
</div>
<div class="row">
    <span class="col-md-2 sub-stat-label">Min</span>
                    <span class="col-md-10">
                        <span class="value">{{data.duration.min}}</span>
                        <span class="unit">{{data.unit}}</span>
                    </span>
</div>
<div class="row">
    <span class="col-md-2 sub-stat-label">Max</span>
                    <span class="col-md-10">
                        <span class="value">{{data.duration.max}}</span>
                        <span class="unit">{{data.unit}}</span>
                    </span>
</div>
<div class="row">
    <span class="col-md-2 sub-stat-label">Mean</span>
                    <span class="col-md-10">
                        <span class="value">{{data.duration.mean}}</span>
                        <span class="unit">{{data.unit}}</span>
                    </span>
</div>
<div class="row">
    <span class="col-md-2 sub-stat-label">Median</span>
                    <span class="col-md-10">
                        <span class="value">{{data.duration.median}}</span>
                        <span class="unit">{{data.unit}}</span>
                    </span>
</div>
<div class="row">
    <span class="col-md-2 stat-label">{{name}} Count</span>
    <span class="col-md-10">{{data.rate.count}}</span>
</div>
<div class="row">
    <span class="col-md-2 stat-label">{{name}} Rate</span>
                    <span class="col-md-10">
                        <span class="value">{{data.rate.mean}}</span>
                        <span class="unit">{{data.rate.unit}}</span>
                    </span>
</div>